@import "../../consts/colors.module.scss";

@mixin commonHeader {
  justify-content: center;
  display: flex;
  font-weight: normal;
  color: $DARK_GRAY;
  box-shadow: 0px 0px 5px $DARK_BLACK_LOW_OPACITY;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;

  &:hover {
    box-shadow: none;
    border: solid 2px $GOOGLE_BLUE;
  }
}

@media screen and (min-width: 0px) {
  .item {
    width: 350px;
    .header {
      @include commonHeader();
      font-size: $SMALL_MOBILE_FONT_H1;
    }
  }
}

@media screen and (min-width: 601px) {
  .item {
    width: 600px;
    .header {
      @include commonHeader();
      font-size: $MOBILE_FONT_H1;
    }
  }
}

.item {
  position: relative;
  height: 57px;
  transition: margin 1s;
  &:hover {
    margin-top: 25px;
    .hint {
      position: absolute;
      display: flex;
      width: fit-content;
      opacity: 1;
      padding: 5px;
      font-size: $SMALL_MOBILE_FONT_H1;
      background-color: $GRAY;
      transform: scaleY(1);
    }
  }
  .hint {
    position: absolute;
    top: -40px;
    display: flex;
    transform: scaleY(0);
    transform-origin: bottom;
    width: fit-content;
    padding: 5px;
    transition: 1s;
    font-size: $SMALL_MOBILE_FONT_H1;
    color: $DARK_BLACK;
    background-color: $GRAY;
  }
}