@import "../../consts/colors.module.scss";

.form {
  display: flex;
  flex-direction: column;
  .header {
    padding: 5px;
    margin-bottom: 20px;

    &:disabled {
      opacity: 0.65;
    }
  }
  .textarea {
    height: 150px;
    padding: 5px;
    resize: none;
    white-space: pre-wrap;

    &:disabled {
      opacity: 0.65;
    }
  }

  .submit {
    margin-top: 10px;
    font-size: 18px;
    padding: 10px;
    box-sizing: border-box;
    background-color: $GOOGLE_BLUE;
    color: $WHITE;
    border: none;
    border-radius: 5px;
    cursor: pointer;

    &:active {
      background-color: $GOOGLE_ACTIVE_BLUE;
    }

    &:disabled {
      opacity: 0.65;
    }
  }
}

@media screen and (max-width: 600px) {
  .form {
    width: $MOBILE_CONTAINER_WIDTH;
    .header {
      font-size: $MOBILE_FONT_INPUT_HEADER;
    }
    .textarea {
      font-size: $MOBILE_FONT_SIZE;
    }
  }
}

@media screen and (min-width: 601px) {
  .form {
    width: $DESCTOP_CONTAINER_WIDTH;
    .header {
      font-size: $MOBILE_FONT_INPUT_HEADER;
    }
    .textarea {
      font-size: $DESCTOP_FONT_SIZE;
    }
  }
}