$GOOGLE_RED: rgb(194, 0, 0);
$GOOGLE_ACTIVE_RED: rgb(208, 0, 0);
$GOOGLE_BLUE: #4285F4;
$GOOGLE_ACTIVE_BLUE: #5992ee;
$WHITE: #ffffff;
$GRAY: #D6D6D6;

$MOBILE_FONT_H1: 32px;
$DESCTOP_FONT_H1: 62px;

$MOBILE_FONT_INPUT_HEADER: 22px;
$MOBILE_FONT_SIZE: 14px;
$DESCTOP_FONT_SIZE: 18px;

$FONT_WEIGHT: normal; 

$MOBILE_CONTAINER_WIDTH: 350px;
$DESCTOP_CONTAINER_WIDTH: 600px;